.video-conteiner {
    position: relative;
    width: 100%;
    height: 100vh;
    height: 100dvh; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}


.textos-animados {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}